---
layout: default-with-header
---
<div class="page-image">
    {% if page.image_bg %}
    <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append: page.image_bg}}) center no-repeat; background-size: cover;"></div>
    {% elsif page.image %}
    <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append: page.image}}) center no-repeat; background-size: cover;"></div>
    {% endif %}
</div>
<div class="wrapper">
    <div class="page-content">

{{ content }}
{% include contact-form.html %}
</div>
</div>
<script src="//unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="//unpkg.com/isotope-packery@2.0.1/packery-mode.pkgd.js"></script>
<script src="//unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.js"></script>
<script src="/assets/js/main.js"></script>